@tailwind base;
@tailwind components;
@tailwind utilities;


.signup-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
}

.signup-card h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"],.input-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input[type="checkbox"] {
  margin-right: 10px;
}

@font-face {
  font-family: 'TT Runs Bold';
  src: url('./TT-Runs-Trial-Bold-BF640004ca6508e.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}